<h2 aligh="center">Our blog has <%= Post.public_count %> public posts</h2>
<div align="center">
 <%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<div class="card-columns all-posts">
    <%= render 'posts', posts: @posts %>
</div>

<div align="center">
    <%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div