$navbar-default-bg: black;

@import url('https://fonts.googleapis.com/css?family=Numans');

body{
    background-color: rgb(22, 22, 18) !important;
}

h1, h2, h4{
    color: white !important;
}

#logo {
 float: left;
 font-size: 1.7em;
 color: white;
 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
}
#logo:hover {
 color: #fff;
 text-decoration: none;
}
.post-actions {
 border-top: 1px solid #eaeaea;
 padding-top: 5px;
}

.view-post{
    
}

.create-label{
    font-weight: 600;
    font-size: 25pt;
}

.create-btn{
    font-size: 20pt !important;
    color: black;
    background-color: #FFC312 !important;
    padding: 1em;
    font-weight: 600 !important;
}

.status-select{
    background-color: rgba(255, 255, 255, 0) !important;
    border: none;
    color: white;
}

.status-select option[value="public"]{
    background-color: rgb(0, 0, 0) !important;
    border: none;
    color: white;
}

.status-select option[value="private"]{
    background-color: rgb(0, 0, 0) !important;
    border: none;
    color: rgba(175, 175, 175, 0.931);
}

.status-string{
    margin-bottom: 0px;
    margin-right: 1em;
}

label.status-select{
    margin-right: 0.5em;
    text-align: center;
    font-size: 20pt;
    font-weight: 600;
}

.new-post-card-body{
    background-color: rgba(0, 0, 0, 0.692) !important;
}

.new-post-card-body>* {
    color: white !important;
    font-size: 16pt;
}

#nuke-it {
    transition: all 2s ease;
    background: rgb(249,255,0);
    background: linear-gradient(60deg, rgba(249,255,0,1) 0%, rgba(255,98,0,1) 100%);
    margin-bottom: 10%;
    margin-right: 10% !important;
}
#nuke-it:hover {
    background: rgb(255,0,0);
    //background: linear-gradient(60deg, rgba(255,0,0,1) 0%, rgba(255,201,0,1) 100%);
}

.edit-prep{
    width: 9.5rem;

}

.edit-label{
    width:100%;
    background-color: rgba(0, 0, 0, 0) !important;
    color: white !important;
}

.gradientable{
    background: rgb(249,255,0);
    background: linear-gradient(60deg, rgba(249,255,0,1) 0%, rgba(255,98,0,1) 100%);
}

.gradientable2{
    background: rgb(189,255,0);
    background: radial-gradient(circle, rgba(189,255,0,1) 0%, rgba(255,252,0,1) 100%);
}

.black-splitter{
    height:6px !important;
    border-width:0;
    border-radius: 5px;
    color:black;
    background-color:black;
    opacity: 100;
    margin-left: 10%;
    margin-right: 10%;
}

.white-splitter{
    height:2px !important;
    border-width:0;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    background-color:rgba(255, 255, 255, 0.452);
    opacity: 100;
    width: 100%;
    margin-top: 7% !important;
}

.all-posts{
    align-items: center;
    
    justify-content: center;
}

.post-title {
 font-weight: bold;
 font-size: 2em;
 text-decoration: none;
}

.post-title a:link{
    text-decoration:none; 
}

.post-body {
 border-top: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}
.post-meta-details {
 border-top: 1px solid #eaeaea;
 margin-top: 15px;
}
.body {
 margin-top: 0;
}
.listing {
 list-style: none;
 padding-left: 0;
}

.container{
    height: 100%;
    align-content: center;
    //background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
}
    
.sign-in{
    margin-top: 16%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.sign-in h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login-btn{
    color: black;
    background-color: #FFC312 !important;
    padding: 1em;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}